name: Build, Test and Push API

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'backend/requirements.txt'

      - name: Install dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Pytest with Coverage
        run: |
          cd backend
          export PYTHONPATH=$PYTHONPATH:.
          export DB_INIT=false
          python -m pytest --cov=app/routers --cov-report=xml --cov-report=term-missing app/tests/

      - name: Upload Coverage Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: backend/coverage.xml

      - name: Write Summary
        if: always()
        run: |
          cd backend
          COVERAGE=$(grep -oP 'line-rate="\K[^"]+' coverage.xml | head -1)
          PERCENT=$(echo "scale=0; $COVERAGE * 100 / 1" | bc -l)
          echo "### Test Coverage: $PERCENT% :test_tube:" >> $GITHUB_STEP_SUMMARY

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/orderlink-delivery-api:latest
            ${{ secrets.DOCKER_USERNAME }}/orderlink-delivery-api:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max